#header .logo {
	margin-top:32px;
}

#header .logo a {
	background:url(../img/church-front.png) no-repeat;
	width:941px;
	height:71px;
}

a,
a:visited {
	color:#9f1d35;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:visited:hover,
h2 a:visited:hover,
h3 a:visited:hover,
h4 a:visited:hover,
h5 a:visited:hover,
h6 a:visited:hover {
	color:#9f1d35;
}

::selection,
::-moz-selection {
	background:#9f1d35;
}

blockquote {
	border-left:3px solid #9f1d35;
}

.navbar ul li a:hover {
	color:#9f1d35;
}

.mask .slide_content h3.subtitle {
	color:#ffffff;
}

.pag_box ul a:hover, .pag_box ul .selected a {
	background:#9f1d35;
}

.pagination li:hover,
.pagination li.active {
	background:#9f1d35;
	border:1px #9f1d35 solid;
}

.search-excerpt {
	color:#9f1d35;
}


/* Events Manager Styles */

table.em-calendar td.eventful a,
table.em-calendar td.eventful-today a {
	color:#9f1d35 !important;
}
.ui-state-hover {
	color:#9f1d35 !important;
}
.ui-datepicker-today .ui-state-highlight {
	background:#9f1d35 !important;
}


/* Reftagger Plugin Styles */

.lbsTooltipFooter a:hover {
	color:#9f1d35;
}